*{margin: 0%;}

body{
    background:linear-gradient(90deg,yellow,orange,yellow);}
    table{width: 100%;}

 h3{font-size: 25px;}        
h2{font-size: 80px; text-align: center; background-color: whitesmoke; border-radius: 30%; width: 50%; margin-left: 450px;box-shadow: 0  0 2px 8px black;}
p{text-align: center;padding: 20px; font-size: 20px;}
table{text-align:center;}
img{border-radius: 50px; box-shadow: 0 0 5px 10px red;} 
h4{text-align: center;}
td{color:red;}